aiohappyeyeballs==2.4.4
aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
altgraph==0.17.4
amqp==5.2.0
annotated-types==0.7.0
anthropic==0.40.0
anyio==4.6.2.post1
art==6.5
asgiref==3.8.1
asttokens==3.0.0
async-timeout==4.0.3
attrs==23.2.0
Authlib==1.3.1
auto-py-to-exe==2.46.0
autobahn==24.4.2
Automat==22.10.0
babel==2.16.0
backcall==0.2.0
beautifulsoup4==4.12.3
billiard==4.2.1
bleach==6.2.0
blinker==1.8.2
boto3==1.34.148
botocore==1.34.148
bottle==0.13.1
bottle-websocket==0.2.9
Brotli==1.1.0
bs4==0.0.2
CacheControl==0.14.0
cached-property==2.0.1
cachetools==5.5.0
celery==5.4.0
certifi==2024.6.2
cffi==1.17.0
channels==4.1.0
channels-redis==4.2.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==2.2.1
colorama==0.4.6
coloredlogs==15.0.1
constantly==23.10.4
crypto==1.4.1
cryptography==43.0.0
cssselect2==0.7.0
cx_Freeze==7.2.1
cx_Logging==3.2.0
daphne==4.1.2
dataclasses-json==0.6.7
decorator==5.2.1
defusedxml==0.8.0rc2
Deprecated==1.2.14
dill==0.3.8
distro==1.9.0
dj-rest-auth==6.0.0
Django==4.2
django-allauth==0.63.3
django-ckeditor==6.7.1
django-cors-headers==4.4.0
django-filter==24.2
django-js-asset==2.2.0
django-oauth-toolkit==2.4.0
django-rest-framework==0.1.0
django-tailwind==3.8.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dnspython==2.7.0
docker==7.1.0
docopt==0.6.2
docutils==0.21.2
docxcompose==1.4.0
docxtpl==0.18.0
drf-social-oauth2==2.3.0
drf-spectacular==0.27.2
Eel==0.17.0
et-xmlfile==1.1.0
exchangelib==5.5.1
executing==2.2.0
Faker==37.1.0
fastapi==0.115.6
fastjsonschema==2.21.1
filelock==3.17.0
fire==0.7.0
firebase-admin==6.5.0
Flask==3.0.3
flatbuffers==24.3.25
flower==2.0.1
fonttools==4.54.1
fpdf==1.7.2
frozenlist==1.4.1
fsspec==2025.2.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
gnupg==2.3.1
google-api-core==2.20.0
google-api-python-client==2.147.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.18.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
greenlet==3.1.0
grpc-google-iam-v1==0.13.0
grpcio==1.62.2
grpcio-health-checking==1.68.1
grpcio-status==1.62.2
grpcio-tools==1.62.2
gunicorn==22.0.0
h11==0.14.0
html2docx==1.6.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.29.1
humanfriendly==10.0
humanize==4.10.0
hyperlink==21.0.0
idna==3.7
imageio==2.34.2
img2pdf==0.5.1
importlib-metadata==6.11.0
incremental==24.7.2
inflection==0.5.1
ipython==8.12.3
isodate==0.7.2
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jiter==0.8.2
jmespath==0.10.0
joblib==1.4.2
jsonify==0.5
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jwcrypto==1.5.6
kombu==5.4.2
langchain==0.3.12
langchain-anthropic==0.3.0
langchain-community==0.3.12
langchain-core==0.3.25
langchain-openai==0.2.12
langchain-text-splitters==0.3.3
langchain-weaviate==0.0.3
langchainhub==0.1.21
langgraph==0.2.59
langgraph-checkpoint==2.0.9
langgraph-sdk==0.1.46
langsmith==0.2.3
lazy_loader==0.4
lief==0.15.1
llvmlite==0.43.0
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.23.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
mock==4.0.3
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
mutagen==1.47.0
mypy-extensions==1.0.0
mysqlclient==2.2.4
Naked==0.1.32
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
networkx==3.3
Nuitka==2.7
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.18.1
openai==1.57.4
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
ordered-set==4.1.0
orjson==3.10.12
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pathos==0.3.2
pdf2docx==0.5.8
pdfkit==1.0.0
pefile==2023.2.7
pgvector==0.3.6
phonenumbers==8.13.45
pickleshare==0.7.5
pikepdf==9.2.1
pillow==10.4.0
pipreqs==0.5.0
platformdirs==4.3.6
pooch==1.8.2
pox==0.3.4
ppft==1.7.6.8
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.2.1
proto-plus==1.24.0
protobuf==4.25.5
psutil==6.0.0
psycopg2-binary==2.9.9
pure_eval==0.2.3
pyaes==1.6.1
pyarmor==9.1.5
pyarmor-webui==2.6
pyarmor.cli.core==7.6.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.9.2
pydantic-settings==2.7.0
pydantic_core==2.23.4
pydyf==0.11.0
pyfiglet==1.0.2
pygame==2.6.0
Pygments==2.18.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyJWT==2.8.0
PyMatting==1.1.12
PyMuPDF==1.25.5
pyOpenSSL==24.2.1
pyparsing==3.1.4
PyPDF2==3.0.1
pyphen==0.16.0
pyreadline3==3.4.1
PySocks==1.7.1
pyspnego==0.11.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.2
python-dotenv==1.0.1
python-multipart==0.0.20
python-telegram-bot==21.7
python3-openid==3.2.0
PyTMX==3.32
pytube==15.0.0
pytz==2024.1
pywin32==308
pywin32-ctypes==0.2.2
PyYAML==6.0.1
pyzmq==26.4.0
qrcode==8.1
redis==5.0.8
referencing==0.35.1
regex==2024.11.6
rembg==2.0.57
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requests_ntlm==1.3.0
rest-framework-simplejwt==0.0.2
rich==13.8.1
rpds-py==0.18.1
rsa==4.9
s3transfer==0.10.2
safetensors==0.5.3
sagemaker==2.232.1
sagemaker-core==1.0.8
schema==0.7.7
scikit-image==0.24.0
scikit-learn==1.3.2
scipy==1.14.1
selenium==4.27.1
sentence-transformers==3.4.1
sentry-sdk==2.14.0
service-identity==24.1.0
setuptools==72.2.0
shellescape==3.8.1
simsimd==4.4.0
six==1.16.0
smdebug-rulesconfig==1.0.1
sniffio==1.3.1
social-auth-app-django==5.4.1
social-auth-core==4.5.4
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.36
sqlparse==0.5.0
sspilib==0.3.0
stack-data==0.6.3
starlette==0.41.3
stripe==10.6.0
sympy==1.13.1
tavily-python==0.5.0
tblib==3.0.0
Telethon==1.38.1
tenacity==9.0.0
termcolor==3.0.1
text2art==0.2.0
threadpoolctl==3.5.0
tifffile==2024.7.2
tiktoken==0.8.0
tinycss2==1.3.0
tokenizers==0.21.0
torch==2.6.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.49.0
trio==0.27.0
trio-websocket==0.11.1
twilio==9.2.3
Twisted==24.7.0
txaio==23.1.1
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.3.1
uritemplate==4.1.1
urllib3==1.26.19
uvicorn==0.34.0
validators==0.34.0
vine==5.1.0
wcwidth==0.2.13
weasyprint==62.3
weaviate-client==4.10.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.4
whichcraft==0.6.1
wrapt==1.16.0
wsproto==1.2.0
yarg==0.1.9
yarl==1.9.4
yt-dlp==2025.2.19
zipp==3.20.2
zope.event==5.0
zope.interface==7.0.1
zopfli==0.2.3
zstandard==0.23.0
